<% include ../layouts/header %>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DEPS</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Início</a></li>
        <li><a href="test">Teste <code>{json}</code></a></li>
        <li><a href="api/data">Listar Todos <code>{json}</code></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h2 class="text-primary">Deputados</h2>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Aniversário</th>
          <th>Partido</th>
          <th>Estado</th>
          <th>Titular</th>
          <th>Legislaturas</th>
          <th>Email</th>
          <th class="text-center">Contato</th>
        </tr>
      </thead>
      <tbody id="deputados">
        <tr>
          <td colspan="8">Carregando...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">@Fernando Jr - 2016</p>
  </div>
</footer>

<% include ../layouts/footer %>